.section-products {
  padding-top: 80px;
  padding-bottom: 40px;

  @media screen and (min-width: 768px) {
    padding-top: 40px;
    padding-bottom: 60px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 59px;
  }
}
.section-products__label {
  margin-bottom: 15px;
  font-family: "Titan One";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;

  color: $section-label-color;
}

.section-products__title {
  margin-bottom: 8px;
  font-family: "Titan One";
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: $section-title-color;
}

.products-list {
  @media screen and (min-width: 768px) {
    display: flex;
    margin: -8px;
  }

  @media screen and (min-width: 1280px) {
    margin: -16px;
  }
}

.products-list__item {
  border-radius: 24px;
  margin-top: 148px;
  padding-bottom: 40px;

  @media screen and (min-width: 768px) {
    width: calc((100% - 3 * 16px) / 3);
    margin: 156px 8px 8px 8px;
  }

  @media screen and (min-width: 1280px) {
    width: calc((100% - 3 * 32px) / 3);
    margin: 156px 16px 16px 16px;
  }

  &--cream {
    background-color: #ffb8ca;
  }

  &--coffee {
    background-color: #f0d1a5;
  }

  &--milk {
    background-color: #c2e297;
  }
}

.products-list__title {
  font-family: "Titan One";
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #ffffff;

  &--cream::before {
    display: block;
    float: left;
    margin-top: -140px;
    margin-bottom: 20px;
    content: "";
    width: 100%;
    height: 280px;
    background-image: url(/images/ice_cream.png);
    background-size: 280px 280px;
    background-repeat: no-repeat;
    background-position: center;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 2/1),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      & {
        background-image: url(/images/ice_cream.png);
      }
    }

    @media screen and (min-width: 768px) {
      height: 224px;
      background-image: url(/images/coffe.png);
      background-size: 224px 224px;

      @media screen and (min-device-pixel-ratio: 2),
        screen and (-webkit-min-device-pixel-ratio: 2),
        screen and (-o-min-device-pixel-ratio: 2/1),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        & {
          background-image: url(/images/milk.png);
        }
      }
    }

    @media screen and (min-width: 1280px) {
      height: 394px;
      background-image: url(/images/coffe.png);
      background-size: 394px 394px;

      @media screen and (min-device-pixel-ratio: 2),
        screen and (-webkit-min-device-pixel-ratio: 2),
        screen and (-o-min-device-pixel-ratio: 2/1),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        & {
          background-image: url(/images/ice_cream.png);
        }
      }
    }
  }

  &--coffee::before {
    display: block;
    float: left;
    margin-top: -140px;
    margin-bottom: 20px;
    content: "";
    width: 100%;
    height: 280px;
    background-image: url(/images/coffe.png);
    background-size: 280px 280px;
    background-repeat: no-repeat;
    background-position: center;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 2/1),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      & {
        background-image: url(/images/ice_cream.png);
      }
    }

    @media screen and (min-width: 768px) {
      height: 224px;
      background-image: url(/images/coffe.png);
      background-size: 224px 224px;

      @media screen and (min-device-pixel-ratio: 2),
        screen and (-webkit-min-device-pixel-ratio: 2),
        screen and (-o-min-device-pixel-ratio: 2/1),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        & {
          background-image: url(/images/milk.png);
        }
      }
    }

    @media screen and (min-width: 1280px) {
      height: 394px;
      background-image: url(/images/coffe.png);
      background-size: 394px 394px;

      @media screen and (min-device-pixel-ratio: 2),
        screen and (-webkit-min-device-pixel-ratio: 2),
        screen and (-o-min-device-pixel-ratio: 2/1),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        & {
          background-image: url(/images/ice_cream.png);
        }
      }
    }
  }

  &--milk::before {
    display: block;
    float: left;
    margin-top: -140px;
    margin-bottom: 20px;
    content: "";
    width: 100%;
    height: 280px;
    background-image: url(/images/milk.png);
    background-repeat: no-repeat;
    background-position: center;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 2/1),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      & {
        background-image: url(/images/ice_cream.png);
      }
    }

    @media screen and (min-width: 768px) {
      height: 224px;
      background-image: url(/images/coffe.png);
      background-size: 224px 224px;

      @media screen and (min-device-pixel-ratio: 2),
        screen and (-webkit-min-device-pixel-ratio: 2),
        screen and (-o-min-device-pixel-ratio: 2/1),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        & {
          background-image: url(/images/milk.png);
        }
      }
    }

    @media screen and (min-width: 1280px) {
      height: 394px;
      background-image: url(/images/coffe.png);
      background-size: 394px 394px;

      @media screen and (min-device-pixel-ratio: 2),
        screen and (-webkit-min-device-pixel-ratio: 2),
        screen and (-o-min-device-pixel-ratio: 2/1),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        & {
          background-image: url(/images/ice_cream.png);
        }
      }
    }
  }

  &::after {
    display: block;
    margin-top: 32px;
    margin-bottom: 32px;
    content: "";
    height: 6px;
    background-image: url(/images/points.png);
    background-repeat: no-repeat;
    background-position: center;
  }
}

.products-list__text {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  text-align: center;
  letter-spacing: 0.04em;

  color: $section-text-color;
}

.products-list__button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffffff;
  border: none;
}

.button-icon {
  width: 15px;
  height: 15px;
  fill: $section-title-color;
}
// ---------------------------------------SLIDER----------------------------------

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
  align-items: flex-start;
}
