$section-label-color: #ffa5ba;
$section-text-color: #ffffff;
$section-title-color: #d41443;
$product-list-gap-tab: 16px;
$product-list-gap-desk: 32px;
// $primary-white-color: #ffffff;
// $logo-color: #000000;
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
